
manifest.defaultBranch = 'main'

params {

	input = null
	output_base = "results"
	reference = null
	chromosomes = null
	prior_chromosomes = null
	stub_dir = null

	snpad {
		threads = 30
	}

	container_base = "/opt/images-live/${USER}"
	reference_base = "/opt/reference"
}

profiles {
	charliecloud {
		charliecloud {
			enabled = true
			runOptions = "--no-passwd --bind ${params.reference_base}:${params.reference_base} ${params.stub_dir == null ? '' : '--bind ' + params.stub_dir + ':' + params.stub_dir}"
		}

		process {

			withName: indel_target {
				container = "${params.container_base}/gatk3"
			}

			withName: bam_to_snpAD {
				container = "${params.container_base}/snpad"
			}

			withName: join_snpAD {
				container = "${params.container_base}/snpad"
			}

			withName: run_snpAD {
				container = "${params.container_base}/snpad"
			}

			withName: call_snpAD {
				container = "${params.container_base}/snpad"
			}
		}
	}

	slurm {
		process {
			executor = "slurm"
			cpus = 1
			memory = "2 GB"
			time = "2h"

			withName: run_snpAD {
				queue = "medium"
				time = '24h'
				cpus = 30
			}

			withName: call_snpAD {
				queue = "medium"
				time = '24h'
			}

		}
	}
}

